<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> <!-- utf-8 works for most cases -->
<meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
<meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
<meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no"> <!-- Tell iOS not to automatically link certain text strings. -->
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
<!--[if gte mso 9]>
<xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
<![endif]-->
<title>email_template</title>
<style>
body {
font-family: Helvetica, sans-serif;
font-size: 14px;
}
.content {
background-color: white;
}
.content .message-block {
margin-bottom: 24px;
}
.header .message-block, .footer message-block {
margin-bottom: 12px;
}
img {
max-width: 100%;
}
@media only screen and (max-width: 767px) {
.container {
width: 100%;
}
.articles, .articles tr, .articles td {
display: block;
width: 100%;
}
.article {
margin-bottom: 24px;
}
}
</style>
</head>
<body style="background-color:#f6f6f6;font-family:Helvetica, sans-serif;color:#222;margin:0;padding:0;">
<table width="85%" align="center" class="container" style="max-width: 1000px;">
<tr>
<td style="padding:24px;">
<div class="header" style="font-family:Helvetica, sans-serif;color:#999999;font-size:12px;font-weight:normal;margin:0 0 24px 0;text-align:center;">
</div>
<table width="100%" class="content" style="background-color:white;">
<tr>
<td style="padding:12px;"><center>
<h1 style="color: #478dff; font-family: Copperplate">
Faturamento agosto 2022
</h1>
</center>
<p>Olá</p>
<p>Espero que esteja bem.</p>
<p>Sensível às dificuldades reportadas pelos consultores da equipe
FESPSP, a Diretoria da Sociologia e Política - Escola de Humanidades,
por sua liberalidade exclusiva e em caráter excepcional, autoriza o
faturamento das atividades executadas no mês de agosto 2022, no âmbito
do Contrato firmado entre a vossa empresa e a Sociologia e Política.</p>
<p><h0 style="color: #ff0000;"> OBS: Os Relatórios de Atividades, bem
como as Notas Fiscais, devem ser preenchidos/emitidas <strong>UM/UMA
PARA CADA PRODUTO</strong>.</h0></p>
<p><strong>1. Relatórios de Atividades</strong></p>
<p>Segue relatório em anexo</p>
<p><u>Favor revisar o documento, complementar as informações faltantes,
assiná-lo e encaminhá-lo.<u></p>
<p><strong>2. Notas Fiscais</strong></p>
<p>Em um espaço adequado da Nota Fiscal, devem conter as seguintes
informações:</p>
<ul>
<li>Prestação de serviços de aplicação do <u>NOME DO PRODUTO</u>
<h0 style="color: #cc0000;">(conforme relatório)</h0></li>
<li>Parcela <u>N</u> <h0 style="color: #cc0000;">(número da parcela de
faturamento, conforme consta no relatório)</h0></li>
<li>Referência <u>MÊS/ANO</u> <h0 style="color: #cc0000;">(mês e ano
de referência do faturamento, conforme consta no relatório)</h0></li>
<li>Horas executadas no período: <u>N</u>
<h0 style="color: #cc0000;">( TOTAL de horas executadas, conforme a
tabela do relatório)</h0></li>
<li>Valor total da nota: <u>R$ VALOR DA NOTA - (VALOR DA NOTA POR
EXTENSO)</u></li>
<li>Dados Bancários da empresa:
<ul>
<li><u>NOME DA EMPRESA,</u></li>
<li><u>TIPO DE CONTA</u> <h0 style="color: #cc0000;">(PF apenas se for
MEI e PJ se não for)</h0><br />
</li>
<li><u>BANCO - N° DO BANCO</u></li>
<li><u>AG</u>: <h0 style="color: #cc0000;">(Não esquecer de indicar o
dígito, se houver)</h0><br />
</li>
<li><u>OPERAÇÃO DA CONTA</u> <h0 style="color: #cc0000;">(EX:Conta
corrente; Conta Poupança)</h0> : NÚMERO DA CONTA - DÍGITO
<h0 style="color: #cc0000;">(Se houver)</h0></li>
</ul></li>
</ul>
<p>Seguem, também em anexo, os dados da FESPSP <strong>(ANEXO
3)</strong>, para emissão da nota. Lembrando que, caso a empresa tenha
sede fora do município de São Paulo, para que não haja retenção do ISS
(5%) é necessário que a empresa tenha sido cadastrada na Prefeitura
Municipal de São Paulo, exceto se for MEI.</p>
<p>Para as empresas optantes pelo SIMPLES NACIONAL, segue o modelo de
DECLARAÇÃO PESSOAS JURÍDICAS OPTANTES PELO SIMPLES NACIONAL
<strong>(ANEXO 4)</strong>, devendo ser, então, devidamente preenchida,
assinada e enviada junto ao(s) Relatório(s) de Atividades e a(s) Nota(s)
Fiscal(is) emitida(s). <h0 style="color: #ff0000;">OBS: A data que
deve constar nesta declaração, é a mesma referente ao dia de emissão da
Nota Fiscal.</h0></p>
<p>Favor verificar as informações sobre o faturamento autorizado,
incluindo produto, atividades, municípios, datas, horas e autoria. Caso
haja alguma dúvida e/ou divergência, favor se manifestar antes da
emissão da nota fiscal.</p>
<p>Segue, também em anexo <strong>(ANEXO 5)</strong>, um pequeno esquema
para que vocês possam consultar as datas dos fluxos de pagamentos e
reembolsos.</p>
<p><h0 style="color: #ff0000;">Para finalizar, informo que, caso você
tenha algum faturamento pendente, referente a meses passados, ele também
pode ser resolvido. Para isso, vou precisar:</p>
<ul>
<li><p>De <strong>UMA</strong> nota com o valor <strong>TOTAL</strong>
de todos os faturamentos pendentes , lembrando que elas devem ser
emitidas <h0 style="color: #ff0000;"><strong>POR PRODUTO</strong></h0>
- mesmo que somando valores de meses diferentes. <u>Ao preencher a
descrição da(s) nota(s), você precisará indicar todos os meses que estão
sendo faturados na nota. Cada mês se refere a uma parcela, que deverá
ser indicada junto ao respectivo valor correspondente àquele
mês.</u></p>
<ul>
<li><p><strong>EXEMPLO:</strong></p>
<p>Parcela 1- JANEIRO- R$ 10,00</p>
<p>Parcela 2- FEVEREIRO- R$ 20,00 …</p></li>
</ul></li>
<li><p><strong>UM</strong> relatório <strong>PARA CADA MÊS</strong> a
ser faturado. <u>Para preencher este relatório, basta seguir as
orientações e retirar a tabela dos e-mails enviados anteriormente por
mim, com o assunto de “Faturamento…”</u></p></li>
</ul>
<p>ATENÇÃO: <strong>Notas e demais documentos devem ser enviados até às
15H do dia 29/08. Documentações enviadas após o prazo estipulado terão
de ser desconsideradas e uma nova nota emitida no inicio de
Setembro</strong></p>
<p>Peço, por gentileza, que ao responder, responda à todos aqui
copiados.</p>
<p>Qualquer dúvida estou à disposição.</p>
<p>Obrigada!</p>
<p>Atenciosamente,</p>
<p>Ágata Lima</p></td>
</tr>
</table>
<div class="footer" style="font-family:Helvetica, sans-serif;color:#999999;font-size:12px;font-weight:normal;margin:24px 0 0 0;">
</div>
</td>
</tr>
</table>
</body>
</html>
